.container {
    margin: 0 auto;
}

.header {
    display:flex;
    background: rgba(0, 0, 0, 0.40);
    gap: 704px;
    justify-content: center;
    align-items: center;
    padding: 18px 79px;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    width: 157px;
    height: 22px;
    transition: color 90ms ease-in 0.05s;
}
.logo:hover {
    color: #3CB878;
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 24px;
}
.header-icon-1 {
    padding-right: 27px;    
}
.header-icon-1 path{
    transition: fill 90ms ease 0.05s;
}
.header-icon-2 {
    padding-right: 24px;    
}
.header-icon-2 path{
    transition: fill 90ms ease 0.05s;
}
.header-icon-3  path{
    transition: fill 90ms ease-in 0.05s;
}
.header-icon-1:hover path{
    fill: #3CB878;
}
.header-icon-2:hover path{
    fill: #3CB878;
}
.header-icon-3:hover path{
    fill: #3CB878;
}
.Welcome-div {
    padding-left: 27px;
    border-left: 1px solid #FFF;
    height: 19px;
    display: flex;
    align-items: center;
}
.Welcome {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    padding-left: 8px;
    padding-right: 0;
}
.Welcome-1 {
    text-decoration: none;
    transition: color 90ms ease 0.05s;
}
.Welcome-1:hover {
    color: #3CB878;
}
.main {
    height: 770px;
    width: 100%;
    background: url(/img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 444px;
    height: 584px;
}
.sign-up-div {
    display: flex;
    gap: 216px;
    padding-bottom: 15px;
    position: relative;
}
.green-box {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -60px;
}
.Sign-up {
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.log-in {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}
.log-in:hover {
    text-decoration: underline;
}
.media {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    padding-bottom: 44px;
}
.media-container-1 {
    background-color: #305DB8;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    text-decoration: none;
    transition: background-color 90ms ease 0.05s;
}
.media-container-1:hover {
    background-color: #022263;
}
.media-container-2:hover {
    background-color: #AB1F09;
}
.facebook {
    padding: 7px 0px 7px 18px;
    border-left: 1px solid #0A162F ;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.media-container-2 {
    background-color: #DF4A32;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    transition: background-color 90ms ease 0.05s;
}
.google {
    padding: 7px 0 7px 30px;
    border-left: 1px solid #2B0D09;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000;
}
legend {
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    padding: 3px 6px;
    margin: 0 auto;
}
.inputs-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 12px;
}
.type-bar {
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    width: 324px;
    height: 44px;
    padding-left: 20px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    transition: filter 400ms ease 0.05s;
}
.type-bar::placeholder{
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.type-bar:focus {
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}
.checkbox-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-right: 97px;
    padding-bottom: 20px;
}
.checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}
.Agree-with-our-Terms-and-Conditions-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.Agree-with-our {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.Terms {
    color: #3CB878;
    text-decoration: none;
}
.Terms:hover {
    color: #01813F;
    text-decoration: underline;
}
.submit {
    padding: 16px 99px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background-color: #3CB878CC;
    border-radius: 4px;
    border: 0;
    width: 100%;
    transition: background-color 110ms ease 0.05s;
}
.submit:hover {
    background-color: #01813F;
}